language: clojure

lein: 2.6.1

cache:
  directories:
    - $HOME/.m2

script:
 - if [ "$TRAVIS_EVENT_TYPE" = "cron" ]; then lein third-party-chec; else lein qa; fi

deploy:
  provider: script
  script: scripts/deploy.sh
  on:
    all_branches: true
